
doctype 5

html
  head
    meta(charset='utf-8')
    script(src='http://192.168.1.19:7777/doodle.js')
    link(rel='stylesheet',href='paper.css')
    script(src='../lib/tmpl.js')
    script(src='handle.js')
    title mp3
  body
    #full
      #menu
      #my
        #player
          #name
            #step
              #words No song yet. Add song first.
          #control
            span#toggle.released play
            span#loop.released loop
            span#volume 100

        #like