
doctype 5

html
  head
    meta(charset='utf-8')
    script(src='http://192.168.1.101:7777/doodle.js')
    link(rel='stylesheet',href='paper.css')
    script(src='../../live-tmpl/page/tmpl.js')
    script(src='handle.js')
    title mp3
  body
    #full
      #menu
      #my
        #player
          #name
            #step
              #words demo
          #control
            span#toggle.released play
            span#loop.released loop
            #volume
              span#now 100
              span#dec81 -81
              span#inc27 +27
              span#dec9 -9
              span#inc3 +3

        #like