
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(0,90,95)

::-webkit-scrollbar-thumb
  background hsl(0,50,80)
  border-radius 2px

@font-face
  font-family chela
  src url(../font/chela.woff) format('woff')

body
  margin 0px
  position absolute
  height 100%
  width 100%
  min-height 400px
  font-family chela
  font-size 20px
  color white

#full
  width 1100px
  height 100%
  margin 0px auto
  background hsl(0,0,90)
  display -webkit-box
  -webkit-box-orient horizontal

#menu, #my
  width 50%
  height 100%
  overflow-y scroll
  overflow-x hidden

#menu
  padding 100px 0px 300px
  background hsl(0,0,93)

#my
  width 50%
  height 100%

.song-name
  background hsl(0,50,43)
  margin 4px 0px
  padding 4px 10px
  box-shadow 0px 0px 10px hsl(0,0,80)

  &:hover
    background hsl(0,50,60)

#player
  height 100px
  width 100%
  margin-top 100px

#name
  height 30px
  background hsl(240,15,60)
  box-shadow 0px 0px 10px hsl(0,0,60)
  margin 10px 0px

#step
  padding 2px 0px
  background hsl(30,40,20)
  overflow-x visible
  height 100%
  white-space nowrap

#words
  padding 0px 10px

#control
  padding 0px 10px

  span
    background hsl(130,10,80)
    margin-right 10px
    padding 2px 8px
    display inline-block
    text-align center
    text-transform capitalize
    cursor pointer
    border-radius 1px
    width 60px

  .pressed
    background hsl(0,0,80)

  .released
    background hsl(0,0,30)

  #now
    background hsla(0,0,0,0)
    color hsl(20,40,30)
    font-size 30px
    padding 0px
    line-height 28px
    vertical-align bottom
    margin 0px 0px 0px 20px
    padding-right 0px
    width 40px

  #volume
    display inline-block

    span
      background hsl(0,0,60)
      font-size 15px
      width 40px

#like
  min-height 300px
  height
  width 100%
  padding 50px 0px 150px

.good-song
  background hsl(240,30,60)
  height 30px
  padding 2px 10px
  margin 4px 0px
  box-shadow 0px 0px 20px hsl(0,0,70)

  &:hover
    background hsl(240,50,70)

  .icon
    float right
    margin 0px 6px
    color hsl(0,0,80)
    cursor pointer

    &:hover
      color white

#playing
  background hsl(240,80,80)