
*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsla(0,50,80,0)

::-webkit-scrollbar-thumb
  background hsl(0,90,95)
  border-radius 2px

@font-face
  font-family chela
  src url(../font/chela.woff) format('woff')

body
  margin 0px
  position absolute
  height 100%
  width 100%
  min-height 400px
  font-family chela
  font-size 20px
  color hsl(0,0,30)
  background hsl(0,0,97)

#full
  width 800px
  height 100%
  margin 0px auto
  display -webkit-box
  -webkit-box-orient horizontal

#menu, #my
  width 50%
  height 100%
  overflow-y scroll
  overflow-x hidden

#menu
  padding 100px 0px 300px

#my
  width 50%
  height 100%

.song-name
  margin 4px 0px
  padding 4px 10px
  text-align right
  cursor pointer
  color hsl(0,0,70)

  &:hover
    color hsl(0,0,90)

#player
  height 100px
  width 100%
  margin-top 100px

#name
  height 30px
  margin 10px 0px
  box-shadow 0px 1px 0px hsl(0,0,80)
  white-space nowrap

#step
  padding 2px 0px
  background hsl(30,40,94)
  overflow-x visible
  height 100%
  white-space nowrap

#words
  padding 0px 10px

#control
  padding 0px 10px

  span
    margin-right 10px
    padding 2px 8px
    display inline-block
    text-align center
    text-transform capitalize
    cursor pointer
    border-radius 1px
    width 60px

  .pressed
    color hsl(0,0,50)

  .released
    color hsl(0,0,90)

  #volume
    background hsla(0,0,0,0)
    color hsl(20,10,60)
    font-size 30px
    padding 0px
    line-height 28px
    vertical-align bottom
    margin 0px 0px 0px 20px
    padding-right 0px
    width 40px

#like
  min-height 300px
  height
  width 100%
  padding 50px 0px 150px

.good-song
  height 30px
  padding 2px 10px
  margin 4px 0px
  cursor pointer
  color hsl(0,0,70)

  .name
    max-width 300px
    display inline-block
    text-overflow ellipsis
    overflow hidden
    white-space nowrap

  &:hover
    color hsl(0,0,90)

  .icon
    float right
    margin 0px 6px
    color hsl(0,0,80)

    &:hover
      color white

#playing
  color hsl(240,80,80)