* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
@font-face {
  font-family: chela;
  src: url("../font/chela.woff") format('woff');
}
body {
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 400px;
  font-family: chela;
  font-size: 20px;
  color: #fff;
}
#full {
  width: 1100px;
  height: 100%;
  margin: 0px auto;
  background: #e6e6e6;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
#menu,
#my {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#menu {
  padding: 100px 0px 300px;
  background: #ededed;
}
#my {
  width: 50%;
  height: 100%;
}
.song-name {
  background: #a43737;
  margin: 4px 0px;
  padding: 4px 10px;
  box-shadow: 0px 0px 10px #ccc;
}
.song-name:hover {
  background: #c66;
}
#player {
  height: 100px;
  width: 100%;
  margin-top: 100px;
}
#name {
  height: 30px;
  background: #8a8aa8;
  box-shadow: 0px 0px 10px #999;
  margin: 10px 0px;
}
#step {
  padding: 2px 0px;
  background: #47331f;
  overflow-x: visible;
  height: 100%;
  white-space: nowrap;
}
#words {
  padding: 0px 10px;
}
#control {
  padding: 0px 10px;
}
#control span {
  background: #c7d1c9;
  margin-right: 10px;
  padding: 2px 8px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 1px;
  width: 60px;
}
#control .pressed {
  background: #ccc;
}
#control .released {
  background: #4d4d4d;
}
#control #now {
  background: rgba(0,0,0,0);
  color: #6b422e;
  font-size: 30px;
  padding: 0px;
  line-height: 28px;
  vertical-align: bottom;
  margin: 0px 0px 0px 20px;
  padding-right: 0px;
  width: 40px;
}
#control #volume {
  display: inline-block;
}
#control #volume span {
  background: #999;
  font-size: 15px;
  width: 40px;
}
#like {
  min-height: 300px;
height
  width: 100%;
  padding: 50px 0px 150px;
}
.good-song {
  background: #7a7ab8;
  height: 30px;
  padding: 2px 10px;
  margin: 4px 0px;
  box-shadow: 0px 0px 20px #b3b3b3;
}
.good-song:hover {
  background: #8c8cd9;
}
.good-song .icon {
  float: right;
  margin: 0px 6px;
  color: #ccc;
  cursor: pointer;
}
.good-song .icon:hover {
  color: #fff;
}
#playing {
  background: #a3a3f5;
}
